langchain==1.2.15
ipykernel
langchain-community
langgraph==1.1.8
pinecone==8.1.2
tavily-python
streamlit
python-dotenv
langchain_ollama
torchvision
langchain_huggingface
langchain_groq
sentence-transformers==5.4.1
mmh3
pinecone-text==0.11.0